$backgroundColor: #fff;
$textColorBlack: #000;

* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    background-color: $backgroundColor;
    height: 100vh;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    color: $textColorBlack;
}